# Название workflow — отображается в GitHub Actions
name: Run Playwright Tests with Allure

# Условия запуска:
# - при пуше в ветку main
# - при открытии pull request
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  # Название задачи (job) — тестирование автотестов (AQA)
  AQA_test:
    # Используется виртуальная машина Ubuntu последней версии
    runs-on: ubuntu-latest

    steps:

      # Шаг 1: Клонирует репозиторий на CI-машину
      - name: Checkout repo
        uses: actions/checkout@v3

      # Шаг 2: Сборка Docker-образа из Dockerfile в корне проекта
      - name: Build Docker image
        run: docker build -t my-playwright-tests .

      # Шаг 3: Запуск тестов внутри контейнера
      - name: Run tests in Docker container
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/allure-results:/app/allure-results \
            -v ${{ github.workspace }}/allure-report:/app/allure-report \
            my-playwright-tests \
            /bin/bash -c "pytest --alluredir=allure-results && allure generate allure-results -o allure-report --clean"
      

      # Шаг 4: Сохраняем сгенерированный отчёт как артефакт CI
      - name: Upload allure Report Artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-report     # Имя артефакта
          path: allure-report     # Путь к папке с отчётом

  deploy_report:
    needs: AQA_test
    runs-on: ubuntu-latest

    steps:
      - name: Download allure Report Artifact
        uses: actions/download-artifact@v4
        with:
          name: allure-report
          path: allure-report

      - name: List downloaded report files (debug)
        run: ls -R

      - name: Archive Allure report
        run: zip -r allure-report.zip allure-report

      - name: Send Allure report to Telegram
        env:
          TELEGRAM_TOKEN: ${{secrets.TELEGRAM_TOKEN}}
          TELEGRAM_CHAT_ID: ${{secrets.TELEGRAM_CHAT_ID}}
        run: |
          curl -s -X POST "https://api.telegram.org/bot${TELEGRAM_TOKEN}/sendDocument" \
            -F chat_id="${TELEGRAM_CHAT_ID}" \
            -F document=@allure-report.zip \
            -F caption=" Allure отчет. Сгенерировано из GitHub Actions"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: allure-report